body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #f9f9f9;
  color: #333; 
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.dashboard {
  display: flex;
  flex-direction: row-reverse; 
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.map-area {
  flex: 2;
  min-width: 900px;
}

#map {
  width: 100%;
}

.annotation {
  flex: 1;
  max-width: 300px;
  font-size: 16px;
  line-height: 1.6;
}

.cooler {
  color: #fbb4b4;
  font-weight: bold;
}

.hotter {
  color: #990000; 
  font-weight: bold;
}
